.productdisplay {
    display: flex;
    margin: 0px 170px;
  }
  .productdisplay-left {
    display: flex;
    gap: 17px;
  }
  .productdisplay-main-img{
    width: 586px;
    height: 700px;
    object-fit: contain;
  }
  .productdisplay-right {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
  }
  .productdisplay-right h1 {
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
  }
  .productdisplay-right-prices {
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
  }
  .productdisplay-right-price-old {
    color: #818181;
    text-decoration: line-through;
  }
  .productdisplay-right-price-new {
    color: #ff4141;
  }
  .productdisplay-right-size h1 {
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
  }
  .productdisplay-right-sizes {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
  }
  .productdisplay-right-sizes div {
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
  }
  .productdisplay-right button{
     padding: 20px 40px;
     width: 200px;
     font-size: 16px;
     font-weight: 600;
     color: white;
     background: #551A8B;
     margin-bottom: 40px;
     border: none;
     outline: none;
     cursor: pointer;
  }

  .productdisplay-right button:hover{
    background: #4B0082;
  }
  .productdisplay-right-category{
      margin-top: 10px;
  }
  .productdisplay-right-category span{
      font-weight: 600;
  }
  

  @media(max-width: 1920px) {
    .productdisplay {
      margin: 0px 150px;
    }
  
    .productdisplay-left {
      gap: 15px;
    }
  
    .productdisplay-main-img {
      width: 550px;
      height: 650px;
    }
  
    .productdisplay-right {
      margin: 0px 60px;
    }
  
    .productdisplay-right h1 {
      font-size: 35px;
    }
  
    .productdisplay-right-prices {
      font-size: 22px;
      gap: 25px;
    }
  
    .productdisplay-right-size h1 {
      font-size: 18px;
    }
  
    .productdisplay-right-sizes {
      gap: 15px;
    }
  
    .productdisplay-right button {
      width: 180px;
      font-size: 14px;
    }
  }


  @media(max-width: 1440px) {
    .productdisplay {
      margin: 0px 120px;
    }
  
    .productdisplay-left {
      gap: 13px;
    }
  
    .productdisplay-main-img {
      width: 520px;
      height: 620px;
    }
  
    .productdisplay-right {
      margin: 0px 55px;
    }
  
    .productdisplay-right h1 {
      font-size: 35px;
    }
  
    .productdisplay-right-prices {
      font-size: 22px;
      gap: 20px;
    }
  
    .productdisplay-right-size h1 {
      font-size: 18px;
    }
  
    .productdisplay-right-sizes {
      gap: 15px;
    }
  
    .productdisplay-right button {
      width: 180px;
      font-size: 14px;
    }
  }

  @media(max-width: 1366px) {
    .productdisplay {
      margin: 0px 110px;
    }
  
    .productdisplay-left {
      gap: 12px;
    }
  
    .productdisplay-main-img {
      width: 500px;
      height: 600px;
    }
  
    .productdisplay-right {
      margin: 0px 50px;
    }
  
    .productdisplay-right h1 {
      font-size: 35px;
    }
  
    .productdisplay-right-prices {
      font-size: 22px;
      gap: 20px;
    }
  
    .productdisplay-right-size h1 {
      font-size: 18px;
    }
  
    .productdisplay-right-sizes {
      gap: 15px;
    }
  
    .productdisplay-right button {
      width: 180px;
      font-size: 14px;
    }
  }

  @media(max-width: 1280px) {
    .productdisplay {
      margin: 0px 100px;
    }
  
    .productdisplay-left {
      gap: 12px;
    }
  
    .productdisplay-main-img {
      width: 500px;
      height: 600px;
    }
  
    .productdisplay-right {
      margin: 0px 50px;
    }
  
    .productdisplay-right h1 {
      font-size: 35px;
    }
  
    .productdisplay-right-prices {
      font-size: 22px;
    }
  
    .productdisplay-right-size h1 {
      font-size: 18px;
    }
  
    .productdisplay-right-sizes {
      gap: 15px;
    }
  
    .productdisplay-right button {
      width: 180px;
      font-size: 14px;
    }
  }
  
  @media(max-width: 1024px) {
    .productdisplay {
      margin: 0px 60px;
      flex-direction: column;
      align-items: center;
    }
  
    .productdisplay-left {
      gap: 10px;
      flex-direction: column;
      align-items: center;
    }
  
    .productdisplay-main-img {
      width: 400px;
      height: 500px;
    }
  
    .productdisplay-right {
      margin: 20px 0px;
      align-items: center;
    }
  
    .productdisplay-right h1 {
      font-size: 28px;
    }
  
    .productdisplay-right-prices {
      font-size: 20px;
      gap: 20px;
    }
  
    .productdisplay-right-size h1 {
      font-size: 16px;
    }
  
    .productdisplay-right-sizes {
      gap: 10px;
    }
  
    .productdisplay-right button {
      width: 160px;
      font-size: 14px;
    }
  }
  
  @media(max-width: 800px) {
    .productdisplay {
      margin: 0px 30px;
    }
  
    .productdisplay-main-img {
      width: 300px;
      height: 400px;
    }
  
    .productdisplay-right h1 {
      font-size: 24px;
    }
  
    .productdisplay-right-prices {
      font-size: 18px;
      gap: 15px;
    }
  
    .productdisplay-right-size h1 {
      font-size: 14px;
    }
  
    .productdisplay-right-sizes {
      gap: 8px;
    }
  
    .productdisplay-right button {
      width: 140px;
      font-size: 12px;
    }
  }
  
  @media(max-width: 500px) {
    .productdisplay {
      margin: 0px 15px;
    }
  
    .productdisplay-main-img {
      width: 250px;
      height: 350px;
    }
  
    .productdisplay-right h1 {
      font-size: 20px;
    }
  
    .productdisplay-right-prices {
      font-size: 16px;
      gap: 10px;
    }
  
    .productdisplay-right-size h1 {
      font-size: 12px;
    }
  
    .productdisplay-right-sizes {
      gap: 5px;
    }
  
    .productdisplay-right button {
      width: 120px;
      font-size: 12px;
    }
  }
  