.shopcategory-banner {
    display: block;
    width: 100%;
  }
  .shopcategory-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
  }
  .shopcategory-indexSort p span {
    font-weight: 600;
  }
  .shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
  }
  
  .shopcategory-products {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
  }
  .shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
  }

  /* Ekranlar arası geçişlerde tasarımın bozulmaması için media query kullandım. */
  @media(max-width: 1920px) {
    .shopcategory-indexSort {
      margin: 0px 150px;
    }
  
    .shopcategory-products {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 70px;
    }
  
    .shopcategory-loadmore {
      width: 220px;
      height: 65px;
      font-size: 16px;
    }
  }

  @media(max-width: 1440px) {
    .shopcategory-indexSort {
      margin: 0px 140px;
    }
  
    .shopcategory-products {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 70px;
    }
  
    .shopcategory-loadmore {
      width: 210px;
      height: 65px;
      font-size: 16px;
    }
  }

  @media(max-width: 1366px) {
    .shopcategory-indexSort {
      margin: 0px 130px;
    }
  
    .shopcategory-products {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 70px;
    }
  
    .shopcategory-loadmore {
      width: 210px;
      height: 65px;
      font-size: 16px;
    }
  }

  @media(max-width: 1280px) {
    .shopcategory-indexSort {
      margin: 0px 120px;
    }
  
    .shopcategory-products {
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 60px;
    }
  
    .shopcategory-loadmore {
      width: 200px;
      height: 60px;
      font-size: 16px;
    }
  }
  
  @media(max-width: 1024px) {
    .shopcategory-indexSort {
      margin: 0px 80px;
    }
  
    .shopcategory-products {
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 50px;
    }
  
    .shopcategory-loadmore {
      width: 180px;
      height: 50px;
      font-size: 14px;
    }
  }
  
  @media(max-width: 800px) {
    .shopcategory-indexSort {
      margin: 0px 40px;
      flex-direction: column;
      gap: 10px;
    }
  
    .shopcategory-products {
      grid-template-columns: 1fr 1fr;
      row-gap: 40px;
    }
  
    .shopcategory-loadmore {
      width: 150px;
      height: 45px;
      font-size: 12px;
    }
  }
  
  @media(max-width: 500px) {
    .shopcategory-indexSort {
      margin: 0px 20px;
      flex-direction: column;
      gap: 15px;
    }
  
    .shopcategory-products {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  
    .shopcategory-loadmore {
      width: 140px;
      height: 40px;
      font-size: 12px;
    }
  }
  