.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    box-shadow: 0 1px 3px -2px black;
  }
  .nav a{
    text-decoration: none;
    color: #551A8B;
  }
  .nav-logo {
    width: 350px; 
    height: 100px; 
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
  }

  .nav-logo:hover{
    transform: scale(1.1);
  }
  
  .nav-logo img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 520;
  }
  
  .nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    color: #000000;
  }
  
  .nav-menu a {
    color: #551A8B; 
    text-decoration: none; 
  }
  
  .nav-menu a:hover {
    color: #FF4141; 
  }

  .nav-menu hr{
    border: none;
    width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #ff6d41;
  }
  .nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
  }
  .nav-login-cart button {
    width: 100px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #551A8B;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background: white;
    box-shadow:  #551A8B 0px 0px 10px;
  }
  .nav-dropdown{
    display: none;
  }


  /* Ekranlar arası geçişlerde tasarımın bozulmaması için media query kullandım. */
  @media(max-width: 1280px) {
    .nav-menu {
      font-size: 18px;
      gap: 40px;
    }
  
    .nav-logo {
      width: 300px;
      height: 80px;
    }
  
    .nav-menu li {
      gap: 2px;
    }
  
    .nav-login-cart button {
      width: 90px;
      height: 50px;
      font-size: 18px;
    }
  }
  
  @media(max-width: 1024px) {
    .nav-menu {
      font-size: 16px;
      gap: 30px;
    }
  
    .nav-logo {
      width: 250px;
      height: 70px;
    }
  
    .nav-login-cart button {
      width: 80px;
      height: 45px;
      font-size: 16px;
    }
  }
  
  @media(max-width: 800px) {
    .nav {
      flex-direction: column;
      padding: 10px;
    }
  
    .nav-logo {
      width: 200px;
      height: 60px;
    }
  
    .nav-menu {
      flex-direction: column;
      gap: 20px;
      font-size: 14px;
    }
  
    .nav-login-cart {
      gap: 30px;
    }
  
    .nav-login-cart button {
      width: 70px;
      height: 40px;
      font-size: 14px;
    }
  }
  
  @media(max-width: 500px) {
    .nav {
      flex-direction: column;
      padding: 10px;
    }
  
    .nav-logo {
      width: 150px;
      height: 50px;
    }
  
    .nav-menu {
      font-size: 12px;
      gap: 15px;
    }
  
    .nav-login-cart {
      gap: 20px;
    }
  
    .nav-login-cart button {
      width: 60px;
      height: 35px;
      font-size: 12px;
    }
  
    .nav-dropdown {
      display: block;
      font-size: 14px;
      color: #551A8B;
      text-align: center;
    }
  }
